<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %} 
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My app: {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>